{% extends "base.html" %}
{% block content %}
<section class="fade-in">
    <h2>Ventas</h2>

    <div class="cards">

        <div class="card">
            <img src="https://assets.xboxservices.com/assets/89/ef/89ef0c7f-feca-45ab-b755-1c37f7344a19.jpg" alt="Xbox X">
            <h3>Xbox Series X</h3>
            <p>La consola más potente del mundo con 4K real y 1TB SSD.</p>
            <span class="price">$499 USD</span>
        </div>

        <div class="card">
            <img src="https://assets.xboxservices.com/assets/52/1a/521ae34f-62dd-4ceb-9c99-afba708b6df8.jpg" alt="Xbox S">
            <h3>Xbox Series S</h3>
            <p>Edición digital compacta, rápida y con gran rendimiento.</p>
            <span class="price">$299 USD</span>
        </div>

        <div class="card">
            <img src="https://assets.xboxservices.com/assets/0c/73/0c73f97b-98d3-4251-a796-e88e40f19afe.jpg" alt="Elite 2">
            <h3>Control Elite Series 2</h3>
            <p>Control premium completamente personalizable.</p>
            <span class="price">$179 USD</span>
        </div>

        <div class="card">
            <img src="https://assets.xboxservices.com/assets/f8/29/f8296e71-f6e9-4d93-b087-3c07fd179e71.jpg" alt="Headset Xbox">
            <h3>Headset Xbox Wireless</h3>
            <p>Audio envolvente con diseño moderno.</p>
            <span class="price">$99 USD</span>
        </div>

        <div class="card">
            <img src="https://assets.xboxservices.com/assets/21/51/21516f6a-3cb0-44b5-9089-2ea00cbbc757.jpg" alt="Game Pass">
            <h3>Xbox Game Pass Ultimate</h3>
            <p>Acceso a más de 400 juegos + Xbox Live Gold.</p>
            <span class="price">$14.99 USD</span>
        </div>

    </div>
</section>
{% endblock %}
